.video-grid-wrapper{
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  justify-content: center;
  align-items: center;
  width: 80vw;
  grid-template-columns: repeat(4, 1fr);
}

.main-wrapper{
  width: 100%;
  margin-top: 50px;
}

.video-wrapper{
  display: flex;
  flex-direction: column;
}

.channel-name-label{
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  opacity: .8;
}


video{
  border-radius: 6px;
}