.video-grid-wrapper{
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  justify-content: center;
  align-items: center;
  width: 80vw;
  grid-template-columns: repeat(4, 1fr);
}

.main-wrapper{
  width: 100%;
  margin-top: 50px;
}

