.app-wrapper{
  padding: 60px 80px;
}

.small-button{
  background-color: transparent;
  color: #FFE300;
  border-radius: 5px;
  border: 1px solid #FFE300 ;
  padding: 6px 16px;
  margin-right: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer; 
}
.small-button-active{
  background-color: #FFE300;
  color: #212222;
  border-radius: 5px;
  border:none;
  padding: 6px 16px;
  margin-right: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.small-button:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.small-button-active:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.primary-button{
  background-color: #FFE300;
  color: #212222;
  border-radius: 5px;
  border:none;
  padding: 6px 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.primary-button:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.button-label{
  color: #A4A4A4;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  opacity: .8;
}

.title{
  color: #A4A4A4;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

input{
  background-color: #3C3D3D;
  border: none;
  width: 400px;
  height: 44px;
  border-radius: 6px;
  padding-left: 20px;
  color: #A4A4A4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  box-sizing: border-box;
}




